body
{
    background-color: #393e4d;
    font-family:'Inconsolata';
    color: black;
    margin: 0px auto;
}

.mainbox
{
    width: 80%;
    margin-inline: auto;
    margin-top: 7rem;
    background-color: #D7F9FF;
    outline: 3px solid black;
    border-radius: 2px;
}

.headbox
{
    width: 100%;
    background-color: #4F646F;
    text-align: center;
    font-family: sans-serif;
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
    border-bottom: 3px solid black;
    color: ghostwhite;
}

.nav
{
    list-style-type: none;
    margin-top: 1rem;
    margin-inline: auto;
    padding: 0;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.nav li
{
    background-color: #393e4d;
    display: flex;
    padding: 0.5rem;
    border: 2px solid #4F646F;
    text-align: center;
    width: 12rem;
    justify-content: center;
}

.nav a
{
    text-decoration: none;
    color: ghostwhite;
}

.nav a:hover
{
    color: #4F646F;
}

.mainbox summary
{
    margin-top: 1rem;
    color: #393e4d;
    list-style: none;
    padding: 1rem;
    background-color: #C9CAD9;
    display: inline-block;
    border: 2px solid #4F646F;
}

.mainbox summary:hover
{
    color:red;
    cursor: pointer;
}